@inject NavigationManager Navigation

<div class="nav nav-tabs" role="tablist">
        <div class="nav-item " @onclick="() => ChangePage(0)">
            <span class="nav-link @_onglets[0]">Identification</span>
        </div>

        <div class="nav-item " @onclick="() => ChangePage(1)">
            <span class="nav-link @_onglets[1]">Adresse</span>
        </div>

        <div class="nav-item" @onclick="() => ChangePage(2)">
            <span class="nav-link @_onglets[2]" >Contacts</span>
        </div>

        <div class="nav-item" @onclick="() => ChangePage(3)">
            <span class="nav-link @_onglets[3]" >Produits/Services</span>
        </div>
        <div class="nav-item" @onclick="() => ChangePage(4)">
            <span class="nav-link @_onglets[4]" >Lisence RBQ</span>
        </div>
        <div class="nav-item" @onclick="() => ChangePage(5)">
            <span class="nav-link @_onglets[5]">Brochure</span>
        </div>
    </div>

    @code 
{
    [Parameter]
    public EventCallback<int> OnPageSelected { get; set; }


    //private int _pointer;

    private string[] _onglets = new string[7];
    private int _currentPage;
    private int _checkpoint;

    [Parameter]
    public int CurrentPage
    {
        get => _currentPage;
        set
        {
            if (_currentPage != value)
            {
                ChangePage(value);
            }
        }
    }
   
    public int Checkpoint{ get; set; }


    protected override void OnInitialized()
    {
        _onglets[0] = " active";
    }


    private void ChangePage(int id)
    {
        _currentPage = id;  
        SetLabels();
        OnPageSelected.InvokeAsync(_currentPage);        
    }

    private void SetLabels()
    {
        StateHasChanged();
        for (int i =0; i<_onglets.Length; i++)
        {
            _onglets[i] = "";

            if (i == _currentPage)
            {
                _onglets[i] = " active";
            }
            else if (i < Checkpoint && i != _currentPage)
            {
                _onglets[i] = " done";
            }
            else if(i == Checkpoint)
            {
                _onglets[i] = " checkpoint";
            }
            else
            {
                _onglets[i] = "";
            }            
        }
    }
    
}