@inject NavigationManager Navigation
@inject StateContainer stateContainer

<div class="nav nav-tabs" role="tablist">
    <div class="nav-item" @onclick="() => ChangePage(0)">
        <span class="nav-link @_onglets[0]">
            Identification
            @if (!string.IsNullOrEmpty(GetIcon(0)))
            {
                <img src="@GetIcon(0)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

    <div class="nav-item" @onclick="() => ChangePage(1)">
        <span class="nav-link @_onglets[1]">
            Adresse
            @if (!string.IsNullOrEmpty(GetIcon(1)))
            {
                <img src="@GetIcon(1)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

    <div class="nav-item" @onclick="() => ChangePage(2)">
        <span class="nav-link @_onglets[2]">
            Contacts
            @if (!string.IsNullOrEmpty(GetIcon(2)))
            {
                <img src="@GetIcon(2)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

    <div class="nav-item" @onclick="() => ChangePage(3)">
        <span class="nav-link @_onglets[3]">
            Produits/Services
            @if (!string.IsNullOrEmpty(GetIcon(3)))
            {
                <img src="@GetIcon(3)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

    <div class="nav-item" @onclick="() => ChangePage(4)">
        <span class="nav-link @_onglets[4]">
            Licence RBQ
            @if (!string.IsNullOrEmpty(GetIcon(4)))
            {
                <img src="@GetIcon(4)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

    <div class="nav-item" @onclick="() => ChangePage(5)">
        <span class="nav-link @_onglets[5]">
            Brochure
            @if (!string.IsNullOrEmpty(GetIcon(5)))
            {
                <img src="@GetIcon(5)" alt="" class="me-1 icon" />
            }
        </span>
    </div>

  @if(stateContainer.ShouldDisplayFinancePage)
    {
        <div class="nav-item" @onclick="() => ChangePage(6)">
                <span class="nav-link @_onglets[6]">
                    Finances
                @if (!string.IsNullOrEmpty(GetIcon(6)))
                {
                            <img src="@GetIcon(6)" alt="" class="me-1 icon" />
                }
                </span>
            </div>
   }

    
</div>

@code {
    [Parameter]
    public EventCallback<int> OnPageSelected { get; set; }

    private string[] _onglets = new string[7]; // Adjust size to include the new tab
    private int _currentPage;
    private int _checkpoint;

    [Parameter]
    public int CurrentPage
    {
        get => _currentPage;
        set
        {
            if (_currentPage != value)
            {
                ChangePage(value);
            }
        }
    }



    public int Checkpoint { get; set; }

    protected override void OnInitialized()
    {
        _onglets[0] = "active";
    }

    private void ChangePage(int id)
    {
        _currentPage = id;
        SetLabels();
        OnPageSelected.InvokeAsync(_currentPage);
    }

    private void SetLabels()
    {
        StateHasChanged();
        for (int i = 0; i < _onglets.Length; i++)
        {
            _onglets[i] = "";

            if (i == _currentPage)
            {
                _onglets[i] = " active";
            }
            else if (i < Checkpoint && i != _currentPage)
            {
                _onglets[i] = " done";
            }
            else if (i == Checkpoint)
            {
                _onglets[i] = " checkpoint";
            }
            else
            {
                _onglets[i] = "";
            }
        }
    }

    private string GetIcon(int index)
    {
        if (index == _currentPage)
        {
            return "/icons/clock.png";  // Path to your active icon
        }
        else if (index < Checkpoint)
        {
            return "/icons/check-mark.png";  // Path to your "done" checkmark icon
        }
        else if (index == Checkpoint)
        {
            return "/icons/check.png";  // Path to your checkpoint icon
        }
        else
        {
            return "";  // No icon for tabs that are neither done nor active
        }
    }
}
