@using IntegrationV3R_PortailFournisseur.Data.Models

@if (Contacts != null && Contacts.Any())
{
        @foreach (Contact contact in Contacts)
        {
            <div class="border-top border-dark info-card">
                <h5 class="mt-3">
                    Contact @numContact
                </h5>

                <p><strong>Nom du Contact :</strong> @contact.PrenomContact @contact.NomContact </p>
                <p><strong>Fonction du Contact :</strong> @contact.FonctionContact </p>
                <p><strong>Courriel du Contact :</strong> @contact.CourrielContact </p>
                <p>
                    <strong>Téléphone du Contact:</strong> @contact.NumTelContact @(
                        contact.PosteTelContact != string.Empty ? "Poste " + contact.PosteTelContact : ""
                    )
                </p>
                <p><strong>Type de Téléphone :</strong> @contact.TypeTel</p>

            </div>
            { numContact++; }
        }

    
}
else
{
    <div>No contacts available.</div>
}

@code {
    [Parameter] public List<Contact> Contacts { get; set; }

    public int numContact = 1;
}
