@using IntegrationV3R_PortailFournisseur.Data.Models

<div class="profile-section">
    <h5>Address</h5>
    <div class="row mb-3">
        <div class="col-md-2"><strong>Street Number:</strong> @NumeroCiv</div>
        <div class="col-md-2"><strong>Street:</strong> @Rue</div>
        <div class="col-md-2"><strong>City:</strong> @Ville</div>
        <div class="col-md-2"><strong>Province:</strong> @Province</div>
        <div class="col-md-2"><strong>Postal Code:</strong> @CodePostal</div>
        <div class="col-md-2"><strong>Region:</strong> @RegionAdministrative</div>
        <div class="col-md-2"><strong>Phone Number:</strong> @NumeroTelephone</div>
    </div>
</div>

@code {
    [Parameter] public string NumeroCiv { get; set; }
    [Parameter] public string Rue { get; set; }
    [Parameter] public string Ville { get; set; }
    [Parameter] public string Province { get; set; }
    [Parameter] public string CodePostal { get; set; }
    [Parameter] public string RegionAdministrative { get; set; }
    [Parameter] public string NumeroTelephone { get; set; }
}
